/* Home.css */
.home-container {
    background-image: url('/images/my-background.jpg'); /* Slika se sada nalazi u public folderu */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
  justify-content: center;
  align-items: flex-end; /* Sadržaj je pri dnu */
  text-align: center;
  overflow: hidden; /* Sprječava pomicanje */
  position: relative;
  padding-bottom: 2rem; /* Razmak na dnu */
  }
  /* Stilizacija navigacije */
/* Navigacija (Navbar) */
.home-navbar {
    position: absolute;
    bottom: 20px; /* Pomjera linkove na dno */
    left: 50%; /* Centriraj na horizontalnoj osi */
    transform: translateX(-50%); /* Precizno centriranje */
    z-index: 1; /* Prikaži navigaciju iznad slike */
  }
  
  /* Stilizacija linkova */
.nav-link {
    margin: 0 15px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5); /* Poluprozirna pozadina */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Hover efekat */
  }
  
/* Stilizacija glavnog sadržaja */
.home-content {
    background-color: rgba(255, 255, 255, 0.6); /* Smanjili smo izraženost pozadine */
    padding: 2rem;
    border-radius: 10px;
}

.home-title {
  font-size: 3rem;
  color: #333;
}

.home-description {
  font-size: 1.5rem;
  color: #555;
}

.home-button {
  font-size: 1.25rem;
  color: white;
  background-color: #007bff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #0056b3;
}



  
  /* Media Queries for responsiveness */
  @media (max-width: 600px) {
    .home-title {
      font-size: 2rem;
    }
  
    .home-description {
      font-size: 1.25rem;
    }
  
    .home-button {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
  